**/*.gz
**/*.txt
**/*.loom
**/*.png
**/*.pdf
**/*.tar
**/*.h5ad
**/*.1
**/*.tab
**/*.fastq
**/*checkpoint*
**/*.h5
**/*.2
**/*.ndb
**/*.sam
**/*.bam
**/*.bai
**/*.fa
**/*.fai
data/mouse_ref/mouse_ref_gencode_magicblast.*
**/*.bus
**/*.ec
**/*.json
**/*.csv
**/*.rds
**/*.db
data/ARAUZO_03/
**/*.sqlite
